<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Project</title>
</head>
<body>

<h1>Opret Projekt</h1>

<form th:action="@{/projects/create}" th:object="${project}" method="post">

    Navn: <input type="text" th:field="*{name}"><br><br>

    Beskrivelse: <textarea th:field="*{description}"></textarea><br><br>

    Startdato: <input type="date" th:field="*{startDate}"><br><br>

    Slutdato: <input type="datetime-local" th:field="*{endDate}"><br><br>

    Projektleder:
    <select th:field="*{projectLeader.employeeId}">
        <option value="">-- vælg leder --</option>
        <option th:each="emp : ${leaders}"
                th:value="${emp.employeeId}"
                th:text="${emp.name}">
        </option>
    </select>
    <br><br>

    <button type="submit">Gem projekt</button>
</form>

</body>
</html>
