<h1>Rediger Projekt</h1>

<form th:action="@{/projects/{id}/edit(id=${project.id})}" method="post">

    <input type="hidden" name="id" th:value="${project.id}"/>

    Navn:
    <input type="text" name="name" th:value="${project.name}"/><br/><br/>

    Beskrivelse:
    <textarea name="description" th:text="${project.description}"></textarea><br/><br/>

    Startdato:
    <input type="date"
           name="startDate"
           th:value="${project.startDate}"/><br/><br/>

    Deadline:
    <input type="datetime-local"
           name="endDate"
           th:value="${project.endDate != null ? #temporals.format(project.endDate, 'yyyy-MM-dd''T''HH:mm') : ''}"/><br/><br/>

    Projektleder:
    <select name="projectLeader.employeeId">
        <option th:each="e : ${leaders}"
                th:value="${e.employeeId}"
                th:text="${e.name}"
                th:selected="${project.projectLeader?.employeeId == e.employeeId}">
        </option>
    </select><br/><br/>

    <button type="submit">Gem</button>

    <!-- Tilbage-knap -->
    <a th:href="@{/projects/{id}(id=${project.id})}">
        <button type="button">Tilbage</button>
    </a>

</form>
