<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
    <h1>Medarbejderoplysninger</h1>

    <table>
        <tr>
            <th>Navn</th>
            <td th:text="${employee.name}"></td>
        </tr>
        <tr>
            <th>Mail</th>
            <td th:text="${employee.email}"></td>
        </tr>
        <tr>
            <th>Rolle</th>
            <td th:text="${employee.role.getDisplayName()}"></td>
        </tr>
        <tr>
            <th>Medarbejder Id</th>
            <td th:text="${employee.employeeId}"></td>
        </tr>
    </table>

    <div class="actions">
        <a th:href="@{/employee/{id}/edit(id=${employee.employeeId})}" class="button">Rediger oplysninger</a>

        <a th:if="${session.employee != null and session.employee.role?.name() == 'ADMIN'}"
           th:href="@{/employee/list}"
           class="button">Vis alle medarbejdere</a>

        <a th:href="@{/employee/home/{id}(id=${employee.employeeId})}" class="button secondary">Tilbage til oversigt</a>
    </div>
</div>


</div>


</body>
</html>