<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Medarbejder</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<h1>Opret Medarbejder</h1>

<form th:action="@{/employee/register}" th:object="${employee}" method="post">

    <label for="name">Navn</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Indtast navn" required>

    <label for="email">Email</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Indtast email" required>

    <label for="password">Adgangskode</label>
    <input type="password" id="password" th:field="*{password}" placeholder="Indtast adgangskode" required>

    <label for="confirmPassword">Bekræft Adgangskode</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Gentag adgangskoden" required>

    <button type="submit">Opret Medarbejder</button>
</form>

</body>
</html>